* {
  font-family: "BBH Sans Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 40px;

}

.Play {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.Play:hover {
    background-image: url(flork/handpainted.jpg);
    border-radius: 10px;
    font-size: xx-large
}

.Config {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    background: transparent;
    border: none;

    background-image: url(flork/pixels.jpg);
    color: white;
    border: none;

    cursor: pointer;
}

.Config:hover {
    background-image: url(flork/handpainted.jpg);
    border-radius: 10px;
    font-size: xx-large;
}


.Info {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    background: transparent;
    border: none;
    background-image: url(flork/pixels.jpg);
    color: white;
    border: none;

    cursor: pointer;
}

.Info:hover {
    background-image: url(flork/handpainted.jpg);
    border-radius: 10px;
    font-size: xx-large;
}

body {
  background-image: url(flork/batalha.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.menu {
    display: flex; /* Deixa os botoes lado a lado e facilita o alinhamento entre eles */
    text-align: center;
    margin-top: 370px;
    justify-content: center; /* Centraiza horizontalmente */
    gap: 150px; /* Altera o espaçamento entre os botões */
}

.menu button {
    color: blueviolet; /* Altera a cor do texto */
    font-size: 35px; /* Altera o tamanho do texto */
    margin: 0px; /* Remove qualquer margem padrão */
}

footer {
    position:fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: right;
    padding: 10px;
}

a {
    text-decoration: none;
}